In [128]:
import pandas as pd

# Load the dataset

In [4]:
df = pd.read_csv('adult.data.csv')

In [50]:
print(df)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

# 1. How many people of each race are represented in this dataset?

In [15]:
race_count= df['race'].value_counts()
print("People of each race:\n",race_count)

People of each race:
 race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

# 2. What is the average age of men?

In [20]:
average_age_men= df[df['sex'] == 'Male']['age'].mean()
print(f"Average age of the men: {average_age_men:.1f}")

Average age of the men: 39.4

# 3. What is the percentage of people who have a Bachelor's degree?

In [45]:
percentage_bachelors = (df['education'] == 'Bachelors').mean() * 100
print(f"Percentage with Bachelor's degrees: {percentage_bachelors:.1f}%")

Percentage with Bachelor's degrees: 16.4%

# 4. What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [83]:
advanced_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
percentage_advanced_education_rich = (df[advanced_education]['salary'] == '>50K').mean() * 100
print(f"Percentage of people with advanced education earning >50K: {percentage_advanced_education_rich:.1f}%")

Percentage of people with advanced education earning >50K: 46.5%

# 5. What percentage of people without advanced education make more than 50K?

In [114]:
no_advanced_education = ~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
percentage_no_advanced_education_rich = (df[no_advanced_education]['salary'] == '>50K').mean() * 100
print(f"Percentage of people without advanced education earning >50K: {percentage_no_advanced_education_rich:.1f}%")

Percentage of people without advanced education earning >50K: 17.4%

# 6. What is the minimum number of hours a person works per week?

In [117]:
min_hours_per_week = df['hours-per-week'].min()
print(f"Minimum number of hours worked per week: {min_hours_per_week}")

Minimum number of hours worked per week: 1

# 7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [120]:
min_hours_workers = df[df['hours-per-week'] == min_hours_per_week]
min_hours_rich = min_hours_workers[min_hours_workers['salary'] == '>50K']
percentage_min_hours_rich = (min_hours_rich.shape[0] / min_hours_workers.shape[0]) * 100
print(f"Percentage of people working minimum hours earning >50K: {percentage_min_hours_rich:.1f}%")

Percentage of people working minimum hours earning >50K: 10.0%

# 8. What country has the highest percentage of people that earn >50K and what is that percentage?

In [123]:
country_rich_percentage = (df[df['salary'] == '>50K'].groupby('native-country').size() / df.groupby('native-country').size()) * 100
highest_country_percentage = country_rich_percentage.idxmax()
highest_country_percentage_value = country_rich_percentage.max()
print(f"Country with highest percentage of >50K earners: {highest_country_percentage} ({highest_country_percentage_value:.1f}%)")

Country with highest percentage of >50K earners: Iran (41.9%)

# 9. Identify the most popular occupation for those who earn >50K in India.

In [145]:
india_rich = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
top_india_occupation = india_rich['occupation'].value_counts().idxmax()
print(f"Most popular occupation for >50K earners in India: {top_india_occupation}")

Most popular occupation for >50K earners in India: Prof-specialty